# API
fastapi
uvicorn
aiofiles
jinja2
starlette
python-multipart

# DATABASE
sqlalchemy
psycopg2


# UTILS
pathlib


# SECURITY
python-jose[cryptography]
passlib[bcrypt]


# ML-INTEGRATION
scikit-learn
pandas